@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F5F5F5;
}

.react-tabs__tab-list {
  margin-bottom: 0px !important;
}

.react-tabs__tab--selected {
  background: #142e38 !important;
  color: #F5F5F5 !important;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
